# Auto detect text files and perform LF normalization
* text=auto

* linguist-language=Python

node_modules/* linguist-vendored
vendor/* linguist-vendored
*.json linguist-language=json
folder-name/* linguist-vendored